.whiteField {
    -fx-background-color: #151515;
    -fx-prompt-text-fill: #f05455;
    -fx-text-fill: #f05455;
    -fx-max-height: 70.5;
    -fx-min-height: 70.5;
    -fx-pref-height: 70.5;
    -fx-font-family: GeosansLight;
    -fx-font-size: 35;
}

.background {
    -fx-background-color: #262626;
}

.text {
    -fx-fill: #f05455;
    -fx-font-size: 50;
    -fx-font-family: GeosansLight;
}